<!DOCTYPE html>
<html>
    <body>
        <div style="text-align: center;">
            <h1>profiles</h1>
            <select name="profiles"> 
                <option value="rigatoni">Rigatoni</option> 
                <option value="dave">Dave</option> 
                <option value="pumpernickel">Pumpernickel</option> 
                <option value="reeses">Reeses</option> 
            </select>
            <h1>Registeration</h1>
            <form>
                <h2>Owner Information</h2>
                    <label>Name:</label><br>
                    <input type="text"><br>
                    <label>Email:</label><br>
                    <input type="text"><br>
                    <label>Number:</label><br>
                    <input type="text"><br>
                    <label>Address:</label><br>
                    <input type="text"><br>
                    <label>Emergency Name:</label><br>
                    <input type="text"><br>
                    <label>Emergency Relationship:</label><br>
                    <input type="text"><br>
                    <label>Emergency Number:</label><br>
                    <input type="text"><br>  
                <h2>Dog Information</h2>
                    <label>Name:</label><br>
                    <input type="text"><br>
                    <label>Age:</label><br>
                    <input type="text"><br>
                    <label>Breed:</label><br>
                    <input type="text"><br>
                    <label>Medical notes:</label><br>
                    <input type="text"><br>
                    <label>Behavioral notes:</label><br>
                    <input type="text"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div> 
    </body>
</html>
